@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.ttf');
}